
*{
    font-family: Poppins, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

body{
    background-image: url('../src/img/bg-banner.jpg');
}

.container {
    width: 80%  ;
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Adiciona um fundo semi-transparente para o desfoque ser mais perceptível */
    max-width: 80%vh;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Aplica o efeito de desfoque ao fundo */
}

.content {
    text-align: center;
}

.card h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.card p {
    font-size: 20px; /* Tamanho de fonte do parágrafo */
    margin-bottom: 18px;
    color: #777777;
}

.card button {
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    font-weight: bold; 
}

.card .buttons button:nth-child(1) {
    background-color: #5bc0de; /* Cor do botão 1 */
}

.card .buttons button:nth-child(2) {
    background-color: #c29e0e; /* Cor do botão 2 */
}